milp-approach.bbl
milp-approach.dvi
milp-approach.tex
milp-approach.tex~
preamble.pdf
preamble.tex
preamble.tex~
img/berth.aux
img/berth.tex
img/find-free.aux
img/find-free.fdb_latexmk
img/find-free.fls
img/find-free.log
img/find-free.tex
img/spacial-temporal-constr.aux
img/spacial-temporal-constr.fdb_latexmk
img/spacial-temporal-constr.fls
img/spacial-temporal-constr.log
img/spacial-temporal-constr.tex
